@tailwind base;
@tailwind components;
@tailwind utilities;


#dropdownBtn:hover + #dropdown-menue {
    opacity: 100%;
}

.list.active:hover span {
    color:#ef6603;
}

.list:hover span {
    color:#ef6603;
}

.box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50%;
}

  
  
.box-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transform: rotate(-180deg);
}
  
.box:before,
.box-inner {
    
    background-image: 
      url("../images/wawe2.png"),
      url("../images/wawe2.png"),
      url("../images/wawe3.png");
    background-repeat: repeat-x;
    background-size: 1900px 50%;
    background-position: 0 130%, -50px 130%, 500px 130%;
    
    animation: 20s waves linear infinite forwards;
}
  
@keyframes waves {
    to {
      background-position: 1600px 130%, 3150px 130%, 5300px 130%;
    }
}
