@tailwind base;
@tailwind components;
@tailwind utilities;

#dropdownBtn:hover + #dropdown-menue {
    opacity: 100%;
}

.list.active:hover span {
    color: #ef6603;
}

.list:hover span {
    color: #ef6603;
}

.box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 50%;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 200px;
    transform: rotate(-180deg);
}

.box:before,
.box-inner {
    background-image: url("../images/wawe2.png"), url("../images/wawe2.png"),
        url("../images/wawe3.png");
    background-repeat: repeat-x;
    background-size: 1900px 50%;
    background-position: 0 130%, -50px 130%, 500px 130%;

    animation: 20s waves linear infinite forwards;
}

@keyframes waves {
    to {
        background-position: 1600px 130%, 3150px 130%, 5300px 130%;
    }
}

.slick-initialized .slick-slide {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    height: auto;
    margin: 30px 15px;
}

.slick-track {
    display: flex;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 4px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li.slick-active button {
    background-color: #ef6603;
}

.slick-dots button {
    width: 12px;
    height: 12px;
    max-width: 100%;
    border-radius: 50%;
    color: transparent;
    background-color: rgba(68, 68, 68, 15%);
}

.single-portfolio-block .swiper-pagination span {
    width: 10px;
    height: 10px;
    background-color: #ef6603;
}
